<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>파일 업로드 테스트</title>
</head>

<body>
    <h1>파일 업로드 테스트</h1>
    <form method="POST" enctype="multipart/form-data" action="http://localhost:5000/upload">
        <input type="file" name="upload">
        <input type="submit" value="파일 업로드">
    </form>
    <h1>사고파일 업로드 테스트</h1>
    <form method="POST" enctype="multipart/form-data" action="http://localhost:5000/crashupload">
        <input type="file" name="crashupload">
        <input type="submit" value="파일 업로드">
    </form>
</body>

</html>